<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-100 pt-2 text-center  d-flex justify-content-center align-items-center">
        <section>
        <h1 class="display-1  d-flex  justify-content-center ">About</h1>

        <p class="card-text vh-50 my-5  ">
            I am a motivated and detail-oriented professional with a strong background in developer. With 5 years of experience in programming, I have honed my skills in Programming languages such as JavaScript, Laravel, HTML, CSS, and Node.js.
             My passion for developer drives me to continually seek out new challenges and opportunities for growth. I thrive in collaborative environments where I can leverage my communication skills to effectively contribute to team success. I am eager to bring my expertise to a dynamic organization where I can make a meaningful impact.
        </p>
        <ul class="card-text vh-50 my-3">
            <h3>Techniques</h3>
            <li>I thrive on challenges and am constantly seeking opportunities to expand my skills and knowledge. My dedication to writing clean,
                 maintainable code ensures that my solutions are not only functional but also scalable and easy to maintain.
            </li>
            <br>
            <li>
                In addition to my technical skills, I am a strong communicator and team player, able to effectively collaborate with cross-functional teams to achieve project goals. My adaptability and problem-solving mindset enable me to quickly adapt to new technologies and overcome obstacles.
            </li>
        </ul>
    </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>