<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <!--main content-->
    <header class="container  vh-50 d-flex justify-content-center align-items-center">
        <div  class="d-flex flex-column  justify-content-center  align-items-center">
        <img src="/img/fondo.png" alt="logo" class="w-50  my-3 ">
        <h1 class="display-4  fw-light">andres ramirez</h1>
        <h5 class="text-sm-start  ">software developer</h5>
        <a href="/about" class="btn btn-light   w-25 ">about</a>
    </div>
    
</header>
    <section class="container vh-100 d-inline  justify-content-center align-items-center  ">
        <P class="card-text my-5 p-5 ">
           Andrés Felipe Ramirez is a software developer with a passion for crafting innovative and efficient solutions. With a solid background in programming and a meticulous focus on designing clean, modular code, Andrés Felipe excels at translating creative ideas into functional, high-performance applications. He possesses exceptional skills in multiple programming languages and frameworks, enabling him to tackle a variety of projects with confidence and proficiency. His dedication to continuous improvement and proactive attitude make him a valuable asset to any development team
        </P>
    </section>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>