<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-50 pt-2 text-center  d-flex justify-content-center align-items-center">
        <section>
          <div class="row justify-content-center p-2  ">
          <div id="card" class="card my-2" style="width: 17rem;">
            <img src="/img/lista.png" class="card " alt="...">
            <div class="card-body">
              <h5 class="card-title"> List check</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/hdtoledo/adso2617502/tree/master/src/andresfelipe/projects/listachequeo"  target="_blank"   class="btn btn-primary fa-brands fa-github">Go </a>
            </div>
          </div>
          <div id="card" class="card my-2 " style="width: 17rem;">
            <img src="/img/chiste.png" class="card " alt="...">
            <div class="card-body">
              <h5 class="card-title">DOM API</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/hdtoledo/adso2617502/tree/master/src/andresfelipe/projects/api" target="_blank"  class="btn btn-primary fa-brands fa-github">Go </a>
            </div>
          </div>
          <div id="card" class="card my-2 " style="width: 17rem;">
            <img src="/img/ssetp.png" class="card " alt="...">
            <div class="card-body">
              <h5 class="card-title">SSETP</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/Andres2389/SS-ETP/tree/master"  target="_blank"  class="btn btn-primary fa-brands fa-github">Go </a>
            </div>
          </div>
          <div id="card" class="card my-2 " style="width: 17rem;">
            <img src="/img/crono.png" class="card " alt="...">
            <div class="card-body">
              <h5 class="card-title">Conometro</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/hdtoledo/adso2617502/tree/master/src/andresfelipe/projects/dom-conometro" target="_blank" class="btn btn-primary fa-brands fa-github">Go </a>
            </div>
          </div>
          

        </div>
    </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>