<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="container my-3 vh-50 pt-2 text-center  d-flex justify-content-center align-items-center">
    <section >
        <div class="row justify-content-center  ">
        <div class="card bg-secondary my-2 " style="width: 18em;overflow-x: auto;">
            <img  class="w-15 p-2 " src="/img/th.jfif " class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text">Experienced in CSS, adept at styling websites to achieve visually appealing and responsive designs. </p>
            </div>
          </div>
          <div class="card bg-dark  my-2 " style="width: 18em; ">
            <img  class="w-15 p-2 " src="/img/java.png" class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text bg-light ">Proficient in JavaScript, adept at implementing dynamic and interactive functionalities to enhance user experience on web applications. Skilled in leveraging JavaScript frameworks and libraries to develop robust and efficient front-end solutions.</p>
            </div>
         </div>
         <div class="card bg-secondary  my-2  " style="width: 18em; ">
            <img  class="w-15 p-2 " src="/img/html.png" class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text">Proficient in HTML, skilled at structuring web content to create well-organized and accessible web pages. Experienced in semantic HTML markup and best practices to ensure compatibility across different browsers and devices.</p>
            </div>
         </div>
         <div class="card bg-dark  my-2 " style="width: 18em; ">
            <img  class="w-15 p-2 " src="/img/laravel.png " class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text bg-light">Experienced in Laravel, adept at developing secure and maintainable web applications using the Laravel framework. Skilled in utilizing Laravel's features such as routing, authentication, and ORM to streamline development processes and deliver high-quality solutions.</p>
            </div>
         </div>
         <div class="card bg-secondary  my-2  " style="width: 18em; ">
            <img  class="w-15 p-2 " src="/img/node.png" class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text">Experienced in Node.js, proficient in building scalable and efficient server-side applications. Skilled in utilizing Node.js frameworks and modules to develop back-end functionalities and RESTful APIs that meet project requirements.</p>
            </div>
         </div>
         <div class="card bg-dark my-2   " style="width: 18em; ">
            <img  class="w-15 p-2 " src="/img/react.png" class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text bg-light">Experienced in React, proficient in building interactive and dynamic user interfaces for web applications. Skilled in utilizing React components and state management libraries to create scalable and efficient front-end solutions that meet project requirements.</p>
            </div>
         </div>
    </div>
    
    </section>
 
    
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>