<footer class="bg-dark  text-center  p-4 ">
       <ul>
        <a href="https://www.facebook.com/profile.php?id=100023361637539&locale=es_LA" target="_blank" class="btn btn-primary fa-brands fa-facebook"></a>
        <a href="https://www.linkedin.com/in/andres-felipe-ramirez-collazos/" target="_blank" class="btn btn-primary fa-brands fa-linkedin"></a>
        <a href="https://github.com/Andres2389" target="_blank" class="btn btn-primary fa-brands fa-github"></a>
        </ul>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>