<footer class="bg-dark  text-center  p-4 ">
    <p class="h4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, blanditiis modi.
         Saepe illum labore voluptas qui fugit quia veritatis praesentium omnis tenetur suscipit et assumenda iste, 
         minus, minima iusto accusamus.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>